@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

body{
    font-family: 'League Gothic', sans-serif; 
    background-color:white 
    color:black;
} 
h1{
    font-weight:lighter; 
} 
table, th, td {
    border: 4px solid rgb(24, 16, 16);
  }